{% import 'admin/layout.html' as layout with context -%}
{% extends 'admin/base.html' %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análisis de Ventas</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .chart-container {
            width: 48%; /* Divide el ancho en dos columnas */
            margin: 20px 1%; /* Espacio entre las columnas */
            background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro */
            border-radius: 10px; /* Bordes redondeados */
            padding: 20px; /* Espaciado interno */
            float: left; /* Alinea en dos columnas */
        }
        .chart-container canvas {
            width: 100% !important;
            height: auto !important;
        }
        h2 {
            color: white; /* Color del texto */
            text-align: center; /* Centra el título */
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<div class="chart-container">
    <h2>Ventas Diarias</h2>
    <canvas id="ventasDiariasChart"></canvas>
</div>

<div class="chart-container">
    <h2>Ventas Semanales</h2>
    <canvas id="ventasSemanalesChart"></canvas>
</div>

<div class="chart-container">
    <h2>Costo Producción por Galleta</h2>
    <canvas id="costoProdGalletaChart"></canvas>
</div>

<div class="chart-container">
    <h2>Galleta Más Vendida</h2>
    <canvas id="galletaMasVendidaChart"></canvas>
</div>

<div class="chart-container">
    <h2>Utilidad Galleta</h2>
    <canvas id="galletaUtilidadChart"></canvas>
</div>
<div class="chart-container">
    <h2>Empleado Responsable de Hornear las Galletas</h2>

    <table>
        <thead>
            <tr>
                <th >Solicitud</th>
                <th >Empleado Responsable</th>
                <th >Receta</th>
                <th >Galleta</th>
            </tr>
        </thead>
        <tbody>
            {% for solicitud in solicitudes %}
            <tr>
                <td style="color: white;">{{ solicitud['Solicitud'] }}</td>
                <td style="color: white;">{{ solicitud['Empleado_Resposable'] }}</td>
                <td style="color: white;">{{ solicitud['Receta'] }}</td>
                <td style="color: white;">{{ solicitud['Galleta'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


  
<script>
    // Gráfico de Ventas Diarias
    const ctxDiarias = document.getElementById('ventasDiariasChart');
    new Chart(ctxDiarias, {
        type: 'bar',
        data: {
            labels: {{ labels_diarias | tojson }},
            datasets: [{
                label: '# de Ventas Diarias',
                data: {{ data_diarias | tojson }},
                backgroundColor: 'rgba(54, 162, 235, 0.5)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    // Gráfico de Ventas Semanales
    const ctxSemanales = document.getElementById('ventasSemanalesChart');
    new Chart(ctxSemanales, {
        type: 'bar',
        data: {
            labels: {{ labels_semanales | tojson }},
            datasets: [{
                label: '# de Ventas Semanales',
                data: {{ data_semanales | tojson }},
                backgroundColor: 'rgba(255, 99, 132, 0.5)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    // Gráfico de Galleta más vendida
    const ctxGalletaMasVendida = document.getElementById('galletaMasVendidaChart');
    new Chart(ctxGalletaMasVendida, {
        type: 'bar',
        data: {
            labels: {{ labels_galletaMasVendida | tojson }},
            datasets: [{
                label: '# de Cantidad Vendidas',
                data: {{ data_galletaMasVendida | tojson }},
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgba(245, 211, 23, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        color: 'white' // Cambiar el color de las etiquetas en el eje y
                    }
                },
                x: {
                    ticks: {
                        color: 'white' // Cambiar el color de las etiquetas en el eje x
                    }
                }
            }
        }
    });

    // Gráfico de Costo Produccion por Galleta
    const ctxGalletaProdCosto = document.getElementById('costoProdGalletaChart');
    new Chart(ctxGalletaProdCosto, {
        type: 'bar',
        data: {
            labels: {{ labels_galletaCostoProduccion | tojson }},
            datasets: [{
                label: '# de Costo Produccion',
                data: {{ data_galletaCostoProduccion | tojson }},
                backgroundColor: 'rgb(75, 192, 192)',
                borderColor: 'rgba(38, 0, 255, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        color: 'white' // Cambiar el color de las etiquetas en el eje y
                    }
                },
                x: {
                    ticks: {
                        color: 'white' // Cambiar el color de las etiquetas en el eje x
                    }
                }
            }
        }
    });

    // Gráfico de Utilidad Galleta
    const ctxGalletaUtilidad = document.getElementById('galletaUtilidadChart');
    new Chart(ctxGalletaUtilidad, {
        type: 'bar',
        data: {
            labels: {{ labels_galletaUtilidad | tojson }},
            datasets: [{
                label: '# de Utilidad Galleta',
                data: {{ data_galletaUtilidad | tojson }},
                backgroundColor: 'rgb(75, 192, 192)',
                borderColor: 'rgba(38, 0, 255, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        color: 'white' // Cambiar el color de las etiquetas en el eje y
                    }
                },
                x: {
                    ticks: {
                        color: 'white' // Cambiar el color de las etiquetas en el eje x
                    }
                }
            }
        }
    });

  
</script>

{% endblock body%}
