{% extends './layout.html' %}

{% block title %}Ventas{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ventas.css') }}">
{% endblock %}

{% block body %}
<div class="container row">
    <div class="col-sm-6 col-lg-8">
        <div class="productos">
            <div class="row">
                {% for galleta in galletas %}
                <div class="col-md-6 col-lg-4">
                    <div class="galletas">
                        <div class="imagen_galleta">
                            {{ galleta.imagen }}
                             <img src="data:image/jpeg;base64,{{ galleta.imagen }}" alt="{{ galleta.nombre }}">
                        </div>
                        <div class="info_galleta">
                            <p>ID: {{ galleta.id_galleta }}</p>
                            <p>Nombre: {{ galleta.nombre }}</p>    
                        </div>
                    </div>
                </div>
                {% endfor %}        
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4">
        <div class="ventas">
            <p>aqui van las ventas</p>
        </div>
    </div>
</div>
{% endblock %}