{% extends './layout.html' %}

{% block title %}Ventas{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ventas.css') }}">
{% endblock %}

{% block body %}
<div class="container row">
    <div class="col-lg-8">
        <div class="productos">
            <p>aqui van los productos</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ventas">
            <p>aqui van las ventas</p>
        </div>
    </div>
</div>
{% endblock %}