html,
body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
}

.container{
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: auto;
}

.productos,.ventas{
  width: 100%;
  height: 100%;
  margin: 10px 0 10px 0;
  border: 2px solid #000000;
  padding: 0 10px 10px 10px;
  border-radius: 20px;
}

.galletas{
  width: 100%;
  /* border: 1px solid #000000; */
}

.productos .col-md-6,
.productos .col-lg-4 {
  margin-top: 1em;
}

.imagen_galleta {
  width: calc(100% - 2px);
  height: 148px;
  border: 2px solid #835611;
  border-radius: 20px;
  overflow: hidden;
}

/* @keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
} */

.imagen_galleta:hover {
  animation: shake 0.5s ease-in-out;
}

.info_galleta{
  width: 100%;
  height: 100px;
  /* border: 1px solid #000; */
}

.imagen_galleta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*BOTON GALLETA*/
.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: #835611;
  border-color: #835611;
}

.btn:first-child:active, :not(.btn-check) + .btn:active, .btn:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: #674513;
  border-color: #674513;
}

.btn:disabled{
  background-color: #77674f;
  border-color: #77674f;
}

.btn {
  color: var(--bs-btn-hover-color);
  background-color: #ffca99;
  border-color: #ffca99;
  color: #000000;
}
/*BOTON GALLETA*/

/*MODAL GALLETA*/
.modal-body {
  min-height: 130px !important;
}

.modal.show .modal-dialog {
  min-width: 80%;
}

.modal-footer{
  justify-content: center !important;
}
/*MODAL GALLETA*/

.ventas .row{
  width: 100%;
  margin: auto;
  padding-top: 10px;
}

.ventas .col-sm-6, .ventas .col-lg-3{
  background-color: antiquewhite;
  padding: 10px 1px 10px 1px;
  font-size: small;
}

.mensaje_orden_venta{
  font-family: "calibri", Garamond, 'Comic Sans';
  font-size: 23px;
}

.boton_vender{
  display: none;
  width: 100%;
  margin-top: 10px;
}

.alert-container {
  position: fixed;
  width: 100%;
  top: 0%;
  z-index: 10000;
}

/* .col-md-6{
  margin-left: 1px;
  margin-right: 1px;
} */
/* .btnTop{
  margin-left: auto;
  margin-right: auto;
} */

/* .btn_terminar_corte {
  display: flex;
  justify-content: center;
} */


.centrar_input{
  width: 100%;
  display: flex;
  justify-content: center;
}

.small_input{
  width: 25%;
}