<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="../static/libraries/bootstrap-5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/libraries/sweetalert/sweetalert.min.css">
    <link rel="stylesheet" href="../static/libraries/datatables-2.0.2/datatables.min.css">
    <link rel="stylesheet" href="../static/libraries/animatecss-4.1.1/animate.min.css">
</head>
<body>

    <div class="container">
        {%with messages = get_flashed_messages()%}
            {%if messages%}
                {%for message in messages%}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {%endfor%}
            {%endif%}
        {%endwith%}

    </div>

    <script src="../static/libraries/bootstrap-5.3.3/js/bootstrap.bundle.js"></script>
    <script src="../static/libraries/jquery-3.1.1/jquery.js"></script>
    <script src="../static/libraries/sweetalert/sweetalert.min.js"></script>
    <script src="../static/libraries/datatables-2.0.2/datatables.min.js"></script>
    <script src="../static/libraries/fontawesome/fontawesome.js"></script>

</body>
</html>